* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:"Roboto Flex", sans-serif ;
  background: #000;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container{
  min-width: 544px;
 max-width: 544px;  /* corrigindo bug */
}
.game-header{
  display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 32px;
}
.stats {
  color: #fff;
}

.card-grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
/*descontar o gap para encaixar os 4 quadrado na mesma linha*/
.card{
  width: calc(25% - 5px); 
  aspect-ratio: 1;
  background: #8234e0;
  border:  solid 2px #5a0caf;
  border-radius: 12px;
  background-image: url("/assets/lines.svg");
  cursor: pointer;
}
.revealed{
background: #fff;
border: solid 2px #dadada;
display: flex;
align-items: center;
justify-content: center;
cursor: not-allowed;
}
.card-emoji{
font-size: 36px;
display: none;
}

.revealed .card-emoji{
  display: block;
}

.button{
  width: 100%;
  height: 50px;
  background: #722dc6;
  border-radius: 8px;
  border: solid 2px #5a0caf;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family:"Roboto Flex", sans-serif ;
  margin-top: 32px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.button:hover{
  background-color: #5a0caf;
}