* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:"Roboto Flex", sans-serif ;
  background: #000;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: clamp(1.5rem, 2vw, 2rem);
  width: clamp(320px, 80%, 544px);
}

.game-header{
  width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-wrap: wrap;
 margin-bottom: 32px;
}


.stats {
  font-size: 1.25rem;
  color: #dbc5f3;
}
.h1{
  width: 100%;
  color: #dbc5f3;
  text-align: center;
  font-size: clamp(1.8rem, 7vw, 3.6rem);
  font-family: "Modak", system-ui;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 32px;
  border-bottom: solid 1px #fff;
  padding-bottom: 0.5rem;
}
.card-grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
/*descontar o gap para encaixar os 4 quadrado na mesma linha*/
.card{
  width: calc(25% - 5px); 
  aspect-ratio: 1;
  background: #8234e0;
  border:  solid 2px #5a0caf;
  border-radius: 12px;
  background-image: url("/assets/lines.svg");
  cursor: pointer;
}
.revealed{
background: #fff;
border: solid 2px #dadada;
display: flex;
align-items: center;
justify-content: center;
cursor: not-allowed;
}
.card-emoji{
font-size: 36px;
display: none;
}

.revealed .card-emoji{
  display: block;
}

.button{
  width: 100%;
  /* height: clamp(60px, 8vw,80px); */
  background: #722dc6;
  border-radius: 12px;
  border: solid 2px #5a0caf;
  color: #dbc5f3;
  font-size: clamp(1.8rem, 8vw, 3rem);
  font-family:"Modak", system-ui;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 0.85;
  padding: 1.5rem 0.85rem;
  margin-top: 32px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.button:hover{
  background-color: #5a0caf;
}